{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi, I’m Rajat Bisht 👋</p>
                        <p>This blog is a project I built to sharpen my skills in web development, APIs, and modern frameworks. The site automatically fetches articles from an external API, which means the content here is always fresh, dynamic, and up to date.</p>
                        <p>My focus with this project was to explore:</p>
                        <p> 🔗 API integration for live content.</p>

                        <p> 💻 Frontend development with modern tools.</p>

                        <p> 🚀 User-friendly design for smooth browsing.</p>
                        <p>While the articles are powered by an API, the project itself reflects my journey as a developer, and I’ll keep improving it with new features.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
{% include "footer.html" %}